docker/n8n-workflows/00-auto-reply-funcional.json
{
  "name": "00 - Auto Reply Funcional",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {},
        "responseMode": "lastNode"
      },
      "id": "webhook-node",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chatwoot-auto"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Log para debug\nconsole.log('Webhook recebido:', JSON.stringify(data));\n\n// Verificar se é mensagem válida\nif (data.event !== 'message_created' || data.message_type !== 'incoming') {\n  return [{ json: { skip: true, reason: 'not_incoming' } }];\n}\n\nconst msg = (data.content || '').toLowerCase().trim();\nconst convId = data.conversation?.id;\nconst senderName = data.sender?.name || 'Cliente';\n\nif (!convId) {\n  return [{ json: { skip: true, reason: 'no_conversation_id' } }];\n}\n\nlet response = '🤖 Desculpe, não entendi. Digite *menu* para ver as opções.';\n\n// Saudações\nif (/^(oi|olá|ola|bom dia|boa tarde|boa noite|hello|hi|hey|eai|e ai)/.test(msg)) {\n  response = `👋 Olá${senderName !== 'Cliente' ? ', ' + senderName : ''}! Bem-vindo ao *Didin Fácil*!\\n\\n📋 Escolha uma opção:\\n\\n1️⃣ Comparar preços\\n2️⃣ Ver ofertas\\n3️⃣ Falar com atendente\\n\\nDigite o número da opção!`;\n}\n// Opção 1 ou preços\nelse if (msg === '1' || msg.includes('preço') || msg.includes('comparar') || msg.includes('preco')) {\n  response = '🔍 *Comparação de Preços*\\n\\nMe envie o nome do produto que você quer comparar!\\n\\n💡 Exemplos: iPhone 15, Geladeira, Notebook Dell';\n}\n// Opção 2 ou ofertas\nelse if (msg === '2' || msg.includes('oferta')) {\n  response = '🏷️ *Ofertas do Dia*\\n\\n🔥 Confira:\\n\\n📱 iPhone 14 - R$ 4.299 (12% OFF)\\n💻 Notebook Dell - R$ 3.199 (8% OFF)\\n🎧 AirPods Pro - R$ 1.599 (15% OFF)\\n\\nQuer mais detalhes? Me envie o nome do produto!';\n}\n// Opção 3 ou atendente\nelse if (msg === '3' || msg.includes('atendente') || msg.includes('humano') || msg.includes('pessoa')) {\n  response = '👨‍💼 *Atendimento Humano*\\n\\nEstou transferindo para um atendente...\\n\\n⏰ Tempo estimado: 2 minutos\\n\\nEnquanto aguarda, pode me contar o motivo do contato!';\n}\n// Menu\nelse if (msg.includes('menu') || msg.includes('opç') || msg.includes('ajuda') || msg.includes('help')) {\n  response = '📋 *Menu Principal*\\n\\n1️⃣ Comparar preços\\n2️⃣ Ver ofertas do dia\\n3️⃣ Falar com atendente\\n\\nDigite o número!';\n}\n// Agradecimento\nelse if (/^(obrigad|valeu|thanks|vlw|brigad)/.test(msg)) {\n  response = '😊 Por nada! Estou aqui para ajudar!\\n\\nPrecisa de mais alguma coisa?';\n}\n\nconsole.log(`Resposta para conv ${convId}: ${response.substring(0, 50)}...`);\n\nreturn [{\n  json: {\n    skip: false,\n    conversationId: convId,\n    response: response,\n    originalMessage: msg\n  }\n}];"
      },
      "id": "code-node",
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Deve Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tiktrend-chatwoot:3000/api/v1/accounts/3/conversations/{{ $json.conversationId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "2nQ98Rj5MtwnMurVVfaoYN4t"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": $json.response,\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-node",
      "name": "Enviar para Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Processar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Mensagem": {
      "main": [
        [
          {
            "node": "Deve Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve Responder?": {
      "main": [
        [
          {
            "node": "Enviar para Chatwoot",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
