docker/n8n-workflows/02-faq-database.json
{
  "name": "02 - FAQ Automático com Banco de Dados",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-faq",
        "options": {}
      },
      "id": "webhook-faq",
      "name": "Webhook FAQ",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-event",
              "leftValue": "={{ $json.event }}",
              "rightValue": "message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-incoming",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-faq",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT question, answer, category FROM faqs WHERE LOWER(question) LIKE '%' || LOWER($1) || '%' OR LOWER(keywords) LIKE '%' || LOWER($1) || '%' ORDER BY similarity(LOWER(question), LOWER($1)) DESC LIMIT 3",
        "options": {
          "queryParams": "={{ $json.content }}"
        }
      },
      "id": "search-faq",
      "name": "Buscar FAQ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-didin",
          "name": "PostgreSQL Didin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-results",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-results",
      "name": "Encontrou FAQ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tiktrend-chatwoot:3000/api/v1/accounts/3/conversations/{{ $('Webhook FAQ').item.json.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "2nQ98Rj5MtwnMurVVfaoYN4t"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"📚 *Encontrei esta resposta:*\\n\\n❓ {{ $json[0].question }}\\n\\n✅ {{ $json[0].answer }}\\n\\n---\\nEssa resposta ajudou? Digite *sim* ou *não*\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "send-faq-answer",
      "name": "Enviar Resposta FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://tiktrend-chatwoot:3000/api/v1/accounts/3/conversations/{{ $('Webhook FAQ').item.json.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "2nQ98Rj5MtwnMurVVfaoYN4t"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🤔 Não encontrei uma resposta automática para sua pergunta.\\n\\nVou transferir você para um atendente humano!\\n\\n⏱️ Tempo estimado: 2 minutos\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "id": "send-no-faq",
      "name": "Sem Resposta FAQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "unanswered_questions",
        "columns": "question, conversation_id, contact_phone, created_at",
        "options": {}
      },
      "id": "log-unanswered",
      "name": "Registrar Pergunta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-didin",
          "name": "PostgreSQL Didin"
        }
      }
    }
  ],
  "connections": {
    "Webhook FAQ": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Buscar FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar FAQ": {
      "main": [
        [
          {
            "node": "Encontrou FAQ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrou FAQ?": {
      "main": [
        [
          {
            "node": "Enviar Resposta FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Resposta FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Resposta FAQ": {
      "main": [
        [
          {
            "node": "Registrar Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "WhatsApp"
    },
    {
      "name": "FAQ"
    },
    {
      "name": "Intermediário"
    }
  ]
}
