docker/n8n-workflows/10-context-manager.json
{
    "name": "10 - Context Manager (Utility)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "context-get",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-context",
            "name": "Webhook Get Context",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "context-get"
        },
        {
            "parameters": {
                "operation": "get",
                "key": "=context:{{ $json.conversation_id }}",
                "options": {}
            },
            "id": "redis-get-context",
            "name": "Get from Cache",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                470,
                300
            ],
            "credentials": {
                "redis": {
                    "id": "redis-didin",
                    "name": "Redis Didin"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.value }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "cache-hit",
            "name": "Cache Hit?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.parse($json.value) }}"
            },
            "id": "respond-cached",
            "name": "Respond Cached",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                910,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM get_conversation_context($1)",
                "options": {
                    "queryParams": "={{ $('Webhook Get Context').item.json.conversation_id }}"
                }
            },
            "id": "get-from-db",
            "name": "Get from Database",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                910,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-didin",
                    "name": "PostgreSQL Didin"
                }
            }
        },
        {
            "parameters": {
                "operation": "set",
                "key": "=context:{{ $('Webhook Get Context').item.json.conversation_id }}",
                "value": "={{ JSON.stringify($input.all()) }}",
                "options": {
                    "ttl": 3600
                }
            },
            "id": "cache-result",
            "name": "Cache Result",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                1130,
                400
            ],
            "credentials": {
                "redis": {
                    "id": "redis-didin",
                    "name": "Redis Didin"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $input.all() }}"
            },
            "id": "respond-db",
            "name": "Respond from DB",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1350,
                400
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "context-save",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-save",
            "name": "Webhook Save Context",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                600
            ],
            "webhookId": "context-save"
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": "public",
                "table": "conversation_context",
                "columns": "conversation_id, message_type, content, sender_id, metadata",
                "options": {}
            },
            "id": "save-to-db",
            "name": "Save to DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                470,
                600
            ],
            "credentials": {
                "postgres": {
                    "id": "postgres-didin",
                    "name": "PostgreSQL Didin"
                }
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "key": "=context:{{ $json.conversation_id }}",
                "options": {}
            },
            "id": "invalidate-cache",
            "name": "Invalidate Cache",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                690,
                600
            ],
            "credentials": {
                "redis": {
                    "id": "redis-didin",
                    "name": "Redis Didin"
                }
            }
        }
    ],
    "connections": {
        "Webhook Get Context": {
            "main": [
                [
                    {
                        "node": "Get from Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get from Cache": {
            "main": [
                [
                    {
                        "node": "Cache Hit?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cache Hit?": {
            "main": [
                [
                    {
                        "node": "Respond Cached",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get from Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get from Database": {
            "main": [
                [
                    {
                        "node": "Cache Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cache Result": {
            "main": [
                [
                    {
                        "node": "Respond from DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Save Context": {
            "main": [
                [
                    {
                        "node": "Save to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to DB": {
            "main": [
                [
                    {
                        "node": "Invalidate Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "Utility"
        },
        {
            "name": "Context"
        },
        {
            "name": "Cache"
        }
    ],
    "meta": {
        "description": "Workflow utilitário para gerenciar contexto de conversas com cache Redis. Fornece dois endpoints: /context-get para buscar histórico e /context-save para salvar mensagens.",
        "templateCredsSetupCompleted": true
    }
}