docker/n8n-workflows/seller-bot/03-cart-abandoned.json
{
  "name": "Seller Bot - Cart Abandoned Recovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktrend/cart-abandoned",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cart",
      "name": "Webhook Cart Abandoned",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "cart-abandoned"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst data = payload.data || {};\n\n// Calcular economia potencial\nconst price = parseFloat(data.price) || 0;\nconst savings = Math.round(price * 0.1); // 10% de desconto incentivo\n\nreturn {\n  json: {\n    event_id: payload.event_id,\n    user_id: payload.user_id,\n    name: data.name || 'Cliente',\n    product_name: data.product_name || 'seu produto',\n    product_url: data.product_url || 'https://tiktrendfinder.com.br',\n    product_image: data.product_image,\n    price: price,\n    price_formatted: price.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'}),\n    savings: savings,\n    savings_formatted: savings.toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'}),\n    phone: data.phone,\n    email: data.email,\n    channel: payload.channel || 'whatsapp',\n    timestamp: payload.timestamp,\n    cart_id: data.cart_id\n  }\n};"
      },
      "id": "parse-cart-data",
      "name": "Parse Cart Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as recovery_count FROM cart_recovery_attempts WHERE user_id = $1 AND created_at > NOW() - INTERVAL '24 hours'",
        "options": {
          "queryReplacement": "={{ $json.user_id }}"
        }
      },
      "id": "check-recent-attempts",
      "name": "Verificar Tentativas Recentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-tiktrend",
          "name": "PostgreSQL TikTrend"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "under-limit",
              "leftValue": "={{ $json.recovery_count }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-rate-limit",
      "name": "Dentro do Limite?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Cart Data').first().json;\nconst attemptNum = $('Verificar Tentativas Recentes').first().json.recovery_count + 1;\n\n// Mensagens progressivas\nconst messages = {\n  1: `Ei ${data.name}! 🛒\\n\\nVi que você deixou *${data.product_name}* no carrinho.\\n\\n💰 Preço: ${data.price_formatted}\\n\\nNão deixe escapar essa oportunidade! O produto pode esgotar ou o preço subir.\\n\\n👉 Finalizar compra: ${data.product_url}\\n\\n_Responda *SIM* para receber um cupom especial!_`,\n  \n  2: `${data.name}, última chance! ⏰\\n\\n*${data.product_name}* ainda está no seu carrinho.\\n\\nTenho um cupom especial de *${data.savings_formatted} OFF* só pra você!\\n\\n🏷️ Use: *VOLTE10*\\n\\n👉 ${data.product_url}\\n\\n_Esta oferta expira em 2 horas!_`\n};\n\nreturn {\n  json: {\n    ...data,\n    attempt_number: attemptNum,\n    message: messages[attemptNum] || messages[1]\n  }\n};"
      },
      "id": "select-message",
      "name": "Selecionar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/tiktrend-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone || $json.user_id }}\",\n  \"textMessage\": {\n    \"text\": \"{{ $json.message }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-cart-recovery",
      "name": "Enviar Recuperação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "cart_recovery_attempts",
        "columns": "user_id, cart_id, product_name, price, attempt_number, sent_at",
        "options": {}
      },
      "id": "log-recovery-attempt",
      "name": "Registrar Tentativa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1570, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-tiktrend",
          "name": "PostgreSQL TikTrend"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event_id\": \"{{ $('Parse Cart Data').first().json.event_id }}\",\n  \"message\": \"Cart recovery sent\",\n  \"attempt\": {{ $('Selecionar Mensagem').first().json.attempt_number }}\n}",
        "options": {}
      },
      "id": "respond-cart-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"event_id\": \"{{ $('Parse Cart Data').first().json.event_id }}\",\n  \"message\": \"Rate limit exceeded\",\n  \"reason\": \"Maximum recovery attempts reached for today\"\n}",
        "options": {
          "responseCode": 429
        }
      },
      "id": "respond-rate-limited",
      "name": "Responder Rate Limit",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Webhook Cart Abandoned": {
      "main": [
        [
          {
            "node": "Parse Cart Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cart Data": {
      "main": [
        [
          {
            "node": "Verificar Tentativas Recentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Tentativas Recentes": {
      "main": [
        [
          {
            "node": "Dentro do Limite?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dentro do Limite?": {
      "main": [
        [
          {
            "node": "Selecionar Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar Recuperação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Recuperação": {
      "main": [
        [
          {
            "node": "Registrar Tentativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Tentativa": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "seller-bot"
    },
    {
      "name": "cart-recovery"
    }
  ]
}
