docker/n8n-workflows/seller-bot/07-complaint-alert.json
{
  "name": "Seller Bot - Complaint Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktrend/complaint-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-complaint",
      "name": "Webhook Complaint Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "complaint-alert"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst data = payload.data || {};\n\nreturn {\n  json: {\n    event_id: payload.event_id,\n    user_id: payload.user_id,\n    name: data.name || 'Cliente',\n    complaint: data.complaint,\n    original_channel: data.original_channel || 'whatsapp',\n    sentiment: data.sentiment || 'negative',\n    priority: data.priority || 'high',\n    phone: data.phone,\n    timestamp: data.timestamp || new Date().toISOString()\n  }\n};"
      },
      "id": "parse-complaint",
      "name": "Parse Complaint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "support_tickets",
        "columns": "user_id, user_name, complaint, channel, sentiment, priority, status, created_at",
        "options": {}
      },
      "id": "create-ticket",
      "name": "Criar Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-tiktrend",
          "name": "PostgreSQL TikTrend"
        }
      }
    },
    {
      "parameters": {
        "channel": "#suporte-urgente",
        "text": "=🚨 *NOVA RECLAMAÇÃO*\\n\\n👤 *Cliente:* {{ $('Parse Complaint').first().json.name }}\\n📱 *Canal:* {{ $('Parse Complaint').first().json.original_channel }}\\n⚠️ *Prioridade:* {{ $('Parse Complaint').first().json.priority }}\\n😤 *Sentimento:* {{ $('Parse Complaint').first().json.sentiment }}\\n\\n💬 *Reclamação:*\\n{{ $('Parse Complaint').first().json.complaint }}\\n\\n🔗 ID: {{ $('Parse Complaint').first().json.user_id }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notificar Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-tiktrend",
          "name": "Slack TikTrend"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alertas@tiktrendfinder.com.br",
        "toEmail": "suporte@tiktrendfinder.com.br",
        "subject": "=🚨 RECLAMAÇÃO {{ $('Parse Complaint').first().json.priority.toUpperCase() }} - {{ $('Parse Complaint').first().json.name }}",
        "emailType": "html",
        "html": "=<h2>🚨 Nova Reclamação Recebida</h2><p><strong>Cliente:</strong> {{ $('Parse Complaint').first().json.name }}</p><p><strong>Telefone:</strong> {{ $('Parse Complaint').first().json.phone }}</p><p><strong>Canal:</strong> {{ $('Parse Complaint').first().json.original_channel }}</p><p><strong>Prioridade:</strong> <span style=\"color: red;\">{{ $('Parse Complaint').first().json.priority }}</span></p><p><strong>Sentimento:</strong> {{ $('Parse Complaint').first().json.sentiment }}</p><hr><h3>Reclamação:</h3><blockquote>{{ $('Parse Complaint').first().json.complaint }}</blockquote><hr><p>Responda o mais rápido possível!</p>",
        "options": {}
      },
      "id": "notify-email",
      "name": "Notificar por Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 400],
      "credentials": {
        "smtp": {
          "id": "smtp-tiktrend",
          "name": "SMTP TikTrend"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event_id\": \"{{ $('Parse Complaint').first().json.event_id }}\",\n  \"message\": \"Complaint alert sent to support team\",\n  \"ticket_created\": true\n}",
        "options": {}
      },
      "id": "respond-complaint-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Complaint Alert": {
      "main": [[{"node": "Parse Complaint", "type": "main", "index": 0}]]
    },
    "Parse Complaint": {
      "main": [[{"node": "Criar Ticket", "type": "main", "index": 0}]]
    },
    "Criar Ticket": {
      "main": [
        [
          {"node": "Notificar Slack", "type": "main", "index": 0},
          {"node": "Notificar por Email", "type": "main", "index": 0}
        ]
      ]
    },
    "Notificar Slack": {
      "main": [[{"node": "Responder Sucesso", "type": "main", "index": 0}]]
    },
    "Notificar por Email": {
      "main": [[{"node": "Responder Sucesso", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "seller-bot"}, {"name": "support"}]
}
