docker/n8n-workflows/seller-bot/08-human-handoff.json
{
  "name": "Seller Bot - Human Handoff",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktrend/handoff",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-handoff",
      "name": "Webhook Human Handoff",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "human-handoff"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst data = payload.data || {};\n\nreturn {\n  json: {\n    event_id: payload.event_id,\n    user_id: payload.user_id,\n    name: data.name || 'Cliente',\n    reason: data.reason || 'user_request',\n    context_summary: data.context_summary || 'Sem contexto',\n    original_channel: data.original_channel || 'whatsapp',\n    lead_score: data.lead_score || 0,\n    phone: data.phone,\n    timestamp: data.timestamp || new Date().toISOString()\n  }\n};"
      },
      "id": "parse-handoff",
      "name": "Parse Handoff Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHATWOOT_URL }}/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $json.conversation_id }}/toggle_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"open\"\n}",
        "options": {}
      },
      "id": "open-chatwoot-conversation",
      "name": "Abrir Conversa no Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "handoff_requests",
        "columns": "user_id, user_name, reason, context_summary, channel, lead_score, status, created_at",
        "options": {}
      },
      "id": "log-handoff",
      "name": "Registrar Handoff",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-tiktrend",
          "name": "PostgreSQL TikTrend"
        }
      }
    },
    {
      "parameters": {
        "channel": "#atendimento",
        "text": "=🔔 *HANDOFF SOLICITADO*\\n\\n👤 *Cliente:* {{ $('Parse Handoff Data').first().json.name }}\\n📱 *Canal:* {{ $('Parse Handoff Data').first().json.original_channel }}\\n📊 *Lead Score:* {{ $('Parse Handoff Data').first().json.lead_score }}\\n\\n📝 *Motivo:* {{ $('Parse Handoff Data').first().json.reason }}\\n\\n💬 *Contexto:*\\n{{ $('Parse Handoff Data').first().json.context_summary }}\\n\\n🔗 <{{ $env.CHATWOOT_URL }}/app/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/conversations|Atender no Chatwoot>",
        "otherOptions": {}
      },
      "id": "notify-agents-slack",
      "name": "Notificar Agentes",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-tiktrend",
          "name": "Slack TikTrend"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event_id\": \"{{ $('Parse Handoff Data').first().json.event_id }}\",\n  \"message\": \"Handoff notification sent\",\n  \"chatwoot_opened\": true\n}",
        "options": {}
      },
      "id": "respond-handoff-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Human Handoff": {
      "main": [[{"node": "Parse Handoff Data", "type": "main", "index": 0}]]
    },
    "Parse Handoff Data": {
      "main": [
        [
          {"node": "Abrir Conversa no Chatwoot", "type": "main", "index": 0},
          {"node": "Registrar Handoff", "type": "main", "index": 0}
        ]
      ]
    },
    "Abrir Conversa no Chatwoot": {
      "main": [[{"node": "Notificar Agentes", "type": "main", "index": 0}]]
    },
    "Registrar Handoff": {
      "main": [[{"node": "Notificar Agentes", "type": "main", "index": 0}]]
    },
    "Notificar Agentes": {
      "main": [[{"node": "Responder Sucesso", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "seller-bot"}, {"name": "support"}]
}
