docker/n8n-workflows/seller-bot/12-scheduler-processor.json
{
  "name": "Seller Bot - Scheduled Automations Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, automation_type, user_id, scheduled_for, data, channel FROM scheduled_automations WHERE status = 'pending' AND scheduled_for <= NOW() ORDER BY scheduled_for ASC LIMIT 50"
      },
      "id": "get-pending-automations",
      "name": "Buscar Pendentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-didin",
          "name": "PostgreSQL Didin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-pending",
      "name": "Tem Pendentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-automations",
      "name": "Processar Individual",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [910, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.automation_type }}",
              "operation": "equals",
              "value2": "review_request"
            }
          ]
        }
      },
      "id": "route-by-type",
      "name": "Rotear por Tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/didin/review-request",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.id }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"data\": {{ $json.data }},\n  \"channel\": \"{{ $json.channel || 'whatsapp' }}\"\n}",
        "options": {}
      },
      "id": "trigger-review-request",
      "name": "Trigger Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/didin/cross-sell",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.id }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"data\": {{ $json.data }},\n  \"channel\": \"{{ $json.channel || 'whatsapp' }}\"\n}",
        "options": {}
      },
      "id": "trigger-cross-sell",
      "name": "Trigger Cross-Sell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/didin/cart-abandoned",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.id }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"data\": {{ $json.data }},\n  \"channel\": \"{{ $json.channel || 'whatsapp' }}\"\n}",
        "options": {}
      },
      "id": "trigger-cart-abandoned",
      "name": "Trigger Cart Abandoned",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL }}/didin/reengagement",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $json.id }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"data\": {{ $json.data }},\n  \"channel\": \"{{ $json.channel || 'whatsapp' }}\"\n}",
        "options": {}
      },
      "id": "trigger-reengagement",
      "name": "Trigger Reengagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 550]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "scheduled_automations",
        "columns": "status, executed_at",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-as-executed",
      "name": "Marcar Executado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1570, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-didin",
          "name": "PostgreSQL Didin"
        }
      }
    },
    {
      "parameters": {
        "content": "## ⏰ Scheduled Automations Processor\n\nEste workflow processa automações agendadas:\n\n1. **Review Request** - 7 dias após compra\n2. **Cross-Sell** - 3 dias após compra\n3. **Cart Abandoned** - 2h após abandono\n4. **Reengagement** - 30 dias de inatividade\n\nExecuta a cada 5 minutos.",
        "height": 300,
        "width": 300
      },
      "id": "sticky-scheduler",
      "name": "Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Nenhum Pendente",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "A cada 5 minutos": {
      "main": [[{"node": "Buscar Pendentes", "type": "main", "index": 0}]]
    },
    "Buscar Pendentes": {
      "main": [[{"node": "Tem Pendentes?", "type": "main", "index": 0}]]
    },
    "Tem Pendentes?": {
      "main": [
        [{"node": "Processar Individual", "type": "main", "index": 0}],
        [{"node": "Nenhum Pendente", "type": "main", "index": 0}]
      ]
    },
    "Processar Individual": {
      "main": [[{"node": "Rotear por Tipo", "type": "main", "index": 0}]]
    },
    "Rotear por Tipo": {
      "main": [
        [{"node": "Trigger Review Request", "type": "main", "index": 0}],
        [{"node": "Trigger Cross-Sell", "type": "main", "index": 0}],
        [{"node": "Trigger Cart Abandoned", "type": "main", "index": 0}],
        [{"node": "Trigger Reengagement", "type": "main", "index": 0}]
      ]
    },
    "Trigger Review Request": {
      "main": [[{"node": "Marcar Executado", "type": "main", "index": 0}]]
    },
    "Trigger Cross-Sell": {
      "main": [[{"node": "Marcar Executado", "type": "main", "index": 0}]]
    },
    "Trigger Cart Abandoned": {
      "main": [[{"node": "Marcar Executado", "type": "main", "index": 0}]]
    },
    "Trigger Reengagement": {
      "main": [[{"node": "Marcar Executado", "type": "main", "index": 0}]]
    },
    "Marcar Executado": {
      "main": [[{"node": "Processar Individual", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "seller-bot"}, {"name": "scheduler"}]
}
